# Name: OrientationJ

# Daniel Sage
# Biomedical Imaging Group
# Ecole Polytechnique Federale de Lausanne (EPFL), Lausanne, Switzerland

# Date: 11 July 2017

Plugins>OrientationJ, "OrientationJ Analysis", OrientationJ.OrientationJ_Analysis
Plugins>OrientationJ, "OrientationJ Distribution", OrientationJ.OrientationJ_Distribution
Plugins>OrientationJ, "OrientationJ Measure", OrientationJ.OrientationJ_Measure
Plugins>OrientationJ, "OrientationJ Vector Field", OrientationJ.OrientationJ_Vector_Field
Plugins>OrientationJ, "OrientationJ Corner Harris", OrientationJ.OrientationJ_Corner_Harris
Plugins>OrientationJ, "OrientationJ Clustering", OrientationJ.OrientationJ_Clustering
Plugins>OrientationJ, "OrientationJ Dominant Direction", OrientationJ.OrientationJ_Dominant_Direction
Plugins>OrientationJ, "OrientationJ Horizontal Alignment", OrientationJ.OrientationJ_Horizontal_Alignment
Plugins>OrientationJ>Test Image, "Chirp Image Small", OrientationJ.OrientationJ_Test_Chirp_Image_Small
Plugins>OrientationJ>Test Image, "Chirp Image Large", OrientationJ.OrientationJ_Test_Chirp_Image_Large
Plugins>OrientationJ>Test Image, "Chirp Image Custom", OrientationJ.OrientationJ_Test_Chirp_Image_Custom
Plugins>OrientationJ>Test Image, "Stack Image Small", OrientationJ.OrientationJ_Test_Stack_Image_Small
Plugins>OrientationJ>Test Image, "Stack Image Large", OrientationJ.OrientationJ_Test_Stack_Image_Large
Plugins>OrientationJ>Test Image, "Stack Image Custom", OrientationJ.OrientationJ_Test_Stack_Image_Custom
