# Name: OrientationJ

# Daniel Sage
# Biomedical Imaging Group
# Ecole Polytechnique Federale de Lausanne (EPFL), Lausanne, Switzerland

# Date: 11 July 2017

Plugins>OrientationJ, "OrientationJ Analysis", OrentationJ.OrientationJ_Analysis
Plugins>OrientationJ, "OrientationJ Distribution", OrentationJ.OrientationJ_Distribution
Plugins>OrientationJ, "OrientationJ Measure", OrentationJ.OrientationJ_Measure
Plugins>OrientationJ, "OrientationJ Vector Field", OrentationJ.OrientationJ_Vector_Field
Plugins>OrientationJ, "OrientationJ Corner Harris", OrentationJ.OrientationJ_Corner_Harris
Plugins>OrientationJ, "OrientationJ Clustering", OrentationJ.OrientationJ_Clustering
Plugins>OrientationJ, "OrientationJ Dominant Direction", OrentationJ.OrientationJ_Dominant_Direction
Plugins>OrientationJ, "OrientationJ Horizontal Alignment", OrentationJ.OrientationJ_Horizontal_Alignment
Plugins>OrientationJ>Test Image, "Chirp Image Small", OrentationJ.OrientationJ_Test_Chirp_Image_Small
Plugins>OrientationJ>Test Image, "Chirp Image Large", OrentationJ.OrientationJ_Test_Chirp_Image_Large
Plugins>OrientationJ>Test Image, "Chirp Image Custom", OrentationJ.OrientationJ_Test_Chirp_Image_Custom
Plugins>OrientationJ>Test Image, "Stack Image Small", OrentationJ.OrientationJ_Test_Stack_Image_Small
Plugins>OrientationJ>Test Image, "Stack Image Large", OrentationJ.OrientationJ_Test_Stack_Image_Large
Plugins>OrientationJ>Test Image, "Stack Image Custom", OrentationJ.OrientationJ_Test_Stack_Image_Custom
